<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { title: 'Reset Your Password' }) %>
</head>
<body>
    <div class="container">
        <h2 class="header">Reset Your <%= appName %> Password</h2>
        <p>
            We received a request to reset the password for your <%= appName %> account. If you did not make this request, please ignore this email.
        </p>
        <strong>Please click on the link below to reset your password:</strong>
        <a href="<%= resetUrl %>" target="_blank">Reset Password</a>
        <p>This link will expire in <%= exp %> minutes. If the link has expired, please request a new password reset.</p>
    </div>
</body>
</html>
